@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;

  /* Font Sizes */
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;

  --font-size-heading-1: 40px;
  --font-size-heading-2: 32px;
  --font-size-heading-3: 28px;
  --font-size-heading-4: 24px;
  --font-size-heading-5: 22px;
  --font-size-heading-6: 20px;

  --font-size-display-1: 48px;
  --font-size-display-2: 64px;
  --font-size-display-3: 96px;
  --font-size-display-4: 128px;
}

html {
  overflow-x: hidden !important;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}
.header__main {
  width: 100%;
  top: 0;
  z-index: 10;
}
img {
  max-width: 100%;
}
a:hover {
  color: #222 !important;
}

.mobile-navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(-110%);
}
.u-trans-none {
  transform: translateX(0);
}

.mobile-navigation__close {
  position: fixed;
  right: 32px;
  top: 16px;
  z-index: 100;
  color: #fff !important;
  font-size: 32px;
  font-weight: 300;
}

/* Components */
.search-form-container {
  position: relative;
}
.expanded {
  width: 180px !important;
}
.search-form {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  float: right;
}
.u-bg-primary {
  background-color: #1d1662;
}
.u-btn {
  display: flex;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  border: none;
}
.u-btn-primary {
  background: #1d1662;
  color: white;
}
.u-btn-secondary {
  border: 1px solid transparent;
  background: #1d16621a;
  color: #1d1662;
}
.u-focus-none:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-readmore {
  transition: transform 0.5s;
  display: inline-block;
}
.btn-readmore:hover {
  transform: translateX(10px);
}
.offer-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Define text color utility classes */
.tx-white {
  color: var(--white);
}

.tx-gray-100 {
  color: var(--gray-100);
}

.tx-gray-200 {
  color: var(--gray-200);
}

.tx-gray-300 {
  color: var(--gray-300);
}

.tx-gray-400 {
  color: var(--gray-400);
}

.tx-gray-500 {
  color: var(--gray-500);
}

.tx-gray-600 {
  color: var(--gray-600);
}

.tx-gray-700 {
  color: var(--gray-700);
}

.tx-gray-800 {
  color: var(--gray-800);
}

.tx-gray-900 {
  color: var(--gray-900);
}

.tx-black {
  background-color: var(--black);
}
.bgd-white {
  background-color: var(--white);
}

.bgd-gray-100 {
  background-color: var(--gray-100);
}

.bgd-gray-200 {
  background-color: var(--gray-200);
}

.bgd-gray-300 {
  background-color: var(--gray-300);
}

.bgd-gray-400 {
  background-color: var(--gray-400);
}

.bgd-gray-500 {
  background-color: var(--gray-500);
}

.bgd-gray-600 {
  background-color: var(--gray-600);
}

.bgd-gray-700 {
  background-color: var(--gray-700);
}

.bgd-gray-800 {
  background-color: var(--gray-800);
}

.bgd-gray-900 {
  background-color: var(--gray-900);
}

.bgd-black {
  background-color: var(--black);
}

/* Font Utilities */

/* Define font size utility classes */
.fsz-14 {
  font-size: var(--font-size-14);
}

.fsz-16 {
  font-size: var(--font-size-16);
}

.fsz-18 {
  font-size: var(--font-size-18);
}

/* Heading font sizes */
.fsz-h1 {
  font-size: var(--font-size-heading-1);
}

.fsz-h2 {
  font-size: var(--font-size-heading-2);
}

.fsz-h3 {
  font-size: var(--font-size-heading-3);
}

.fsz-h4 {
  font-size: var(--font-size-heading-4);
}

.fsz-h5 {
  font-size: var(--font-size-heading-5);
}

.fsz-h6 {
  font-size: var(--font-size-heading-6);
}

/* Display font sizes */
.fsz-display-1 {
  font-size: var(--font-size-display-1);
}

.fsz-display-2 {
  font-size: var(--font-size-display-2);
}

.fsz-display-3 {
  font-size: var(--font-size-display-3);
}

.fsz-display-4 {
  font-size: var(--font-size-display-4);
}

/* Loader */
.loader-container {
  z-index: 100;
  top: 0;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
/* Loader Ends */
.u-accrodion-btn {
  transition: all 0.4s;
}
.u-accrodion-btn::after {
  content: url("../assets/images/icon_collapsed.png");
}
.u-accrodion-btn.collapsed::after {
  content: url("../assets/images/icon_collapse.png");
}

@media (max-width: 767px) {
  :root {
    --font-size-heading-1: 26px;
  }
  .header__main {
    position: fixed;
  }
  .u-btn {
    padding: 12px 8px;
  }
}
.single-blog__header {
  background-color: #130e40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230C0929'/%3E%3Cstop offset='1' stop-color='%23130E40'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23100c35'/%3E%3Cstop offset='1' stop-color='%23130E40'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-card__frame {
  flex: 0 0 180px;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
.highlight {
  background-color: orange;
}
.service-card {
  box-shadow: 0px 23.1724px 46.3448px rgba(212, 224, 248, 0.25);
  background-color: #fff;
}
.single-blog__frame {
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}
.single-blog__frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.u-rotate {
  transform: scaleX(-1);
}
.blog-card__author {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}
.blog-card__author > img {
  width: 100%;
}
/* Add styles for the sidebar */
.sidebar-content {
  transition: top 0.3s ease; /* Add a smooth transition effect */
}

.single-blog__content {
  margin-top: 120px;
}
